<nav-header></nav-header>
<!--Lists the questions within the sections-->
<div class="row list-group" ng-controller="ReportAddQuestionController">
	<div class="col-xs-12 titleTop">
		<p class="checklistTitle">{{viewReport.sections[selectedSection].questions[selectedQuestion].output}}</p>
	</div>
</div>
<!--If the addQuestions has any additional questions they are listed.-->
<div ng-init="init()">
	<div class="content">
		<div ng-repeat="addQuestions in viewReport.sections[selectedSection].questions[selectedQuestion].additionalQuestions">
			<div class="list-group {{addQuestions.type}} {{addQuestions.type}}">
				<div class="{{addQuestions.type}} {{addQuestions.type}}">
					<div class="col-xs-2">
						<!--Some checkmark logic as before-->
						<div class="row">
							<div class="col-xs-2">
								<img ng-if = "addQuestions.state !== null " ng-click="count(addQuestions.state, addQuestions.type, addQuestions.id)" ng-src="{{addQuestions.state === true && 'img/checked.png'|| 'img/unchecked.png'}}" class="checkmarkImg" alt="addQuestions mark">
								<img ng-if = "addQuestions.state === null " ng-click="count(addQuestions.state, addQuestions.type, addQuestions.id)" ng-src="{{'img/nancheck.png'}}" class="checkmarkImg" alt="addQuestions mark">
							</div>
						</div>                
					</div>
					<div class="row">
						<div class="col-xs-14 resizeDiv">
							<!--On click will open additional output, additional questions will never have questions.-->
							<div class="col-xs-10 sectionText">
								<p class="questionText questionPadding {{addQuestions.type}} {{addQuestions.type}}" ng-click="showHideInfo(addQuestions.id)"><strong>{{(addQuestions.id+1)}}</strong>. {{addQuestions.output}}</p>
							</div>
						</div>
					</div>
					<!--additional output-->
					<div class="list-group-item questionPadding additionalOutput additionalOutput{{addQuestions.id}}">
						<div class="questionText">
							<button type="button" class="btn" ng-click="nan(addQuestions.state, addQuestions.type, addQuestions.id)"><span class="glyphicon glyphicon-remove"></span>Not Applicable</button>
							<div class="lineBreak"></div>
							<p class="questionPadding typeText centerText">Notes:</p>
							<p class="noteText questionText questionPadding" ng-if='addQuestions.inputs[0].notes[0]' ng-repeat="note in addQuestions.inputs[0].notes | orderBy:'-key':reverse | limitTo:3">
								{{note.key}} : {{note.value}}
							</p>
							<button type="button" class="btn navButton" ng-click="note(addQuestions.id, addQuestions.type)">More...</button>
							<div class="lineBreak"></div>
							<p class="questionPadding typeText centerText">Images:</p>
							<button type="button" class="btn navButton" ng-click="takePic(addQuestions.type, addQuestions.id)"><span class="glyphicon glyphicon-camera"></span>Picture</button>
							<div class="row" ng-if="addQuestions.inputs[0].photos[0]">
								<div ng-repeat="photo in addQuestions.inputs[0].photos">
									<div class="col-xs-3">
										<div class="thumbnail">
											<img ng-click="editImage(fileSystem, photo)" src="{{fileSystem}}{{photo}}"/>
											<p class="imageText"> {{photo.replace('/Images/','').replace(viewReport.title, '').replace('-', '').replace('.jpg', '').replace((question.id+1)+'_', '').replace(viewReport.sections[selectedSection].title+'-', '').replace(viewReport.sections[selectedSection].questions[selectedQuestion].output+'-', '');}}</p>
											<button type="button" class="btn deleteBtn navButton" ng-click="deleteImage(addQuestions.id, $index)"><span class="glyphicon glyphicon-trash"></span></button>
										</div>
									</div>
								</div>
							</div>
							<div class="lineBreak"></div>
							<p class="questionPadding typeText centerText">Memos:</p>
							<button ng-if="!timer" type="button" class="btn navButton" ng-click="startRecording(addQuestions.id)"><span class="glyphicon glyphicon-record"></span>Record</button>
							<button  ng-if="timer > 0" type="button" class="btn navButton" ng-click="stopRecording(addQuestions.id)"><span class="glyphicon glyphicon-stop"></span>Stop Recording</button>
							<p ng-if="timer >= 1 && currentQuestion === addQuestions">Recording... {{timer}} seconds</p>
							<div ng-if="addQuestions.inputs[0].recording[0]" ng-repeat="memo in addQuestions.inputs[0].recording">
								<div class="lineBreak"></div>
								<p class="questionText">Memo: {{memo.replace('documents://media/', '').replace(viewReport.title, '').replace('-','').replace('.wav', '').replace((question.id+1)+'_', '').replace(viewReport.sections[selectedSection].title+'-', '').replace(viewReport.sections[selectedSection].questions[selectedQuestion].output+'-', '')}}</p>
								<button type="button" class="btn navButton" ng-click="playRecording(memo)"><span class="glyphicon glyphicon-play"></span>Play</button>
								<button type="button" class="btn navButton" ng-click="stopPlayRecording(memo)"><span class="glyphicon glyphicon-stop"></span>Stop</button>
								<button type="button" class="btn navButton" ng-click="deleteRecording(addQuestions, $index)"><span class="glyphicon glyphicon-trash"></span>Delete</button>
								<p class="playback playbackDetails" ng-if="currentPosition > 0 && currentMemo === memo">
									<span ng-if="currentPosition >= 1"> Playing... {{getTime(currentPosition)}} / {{getTime(roundedDuration)}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="splash loading">
	<div id="loadingDiv">
		<div class="spinner2"></div>
	</div>
</div>
<nav-footer></nav-footer>