<nav-header></nav-header>
<div class="row topDiv">
	<div class="col-xs-12">
		<p class="checklistTitle">{{viewReport.title}}</p>
		<p>{{viewReport.dateStamp}}</p>
		<p>{{viewReport.sections[selectedSection].title}}</p>
		<p>{{viewReport.sections[selectedSection].questions[selectedQuestion].output}}</p>
	</div>
</div>
<div>
	<div>
		<textarea class="form-control" ng-model="input" ng-change="input"></textarea><br/>
		<div class="btn-toolbar questionText">
			<button type="button" class="btn" ng-click="submitComment()">Submit</button>
		</div>
	</div>
	<div class="content">
		<div class="sectionDiv {{addQuestions.type}} {{addQuestions.type}}">
			<div class="questionLabel {{addQuestions.type}} {{addQuestions.type}}">
				<div class="row resizeDiv">
					<div class="col-xs-10 sectionText">
						<h3>Notes:</h3>
						<div class="lineBreak"></div>
						<div ng-repeat="note in output.notes">
							<p>{{note.key}} - {{note.value}}</p>
							<div class="lineBreak"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<nav-footer></nav-footer>