<nav-header></nav-header>
<div>
    <p class="titleTop">{{referanceList.name}}</p>
</div>
<div class="questionain">
    <div class="content">
        <div ng-repeat="sections in outPut">
            <div class="sectionDiv" ng-click="itemSelect(sections.id)">
                <div class="questionLabel">
                    <div class="row resizeDiv">
                        
                        <!--On click will hide questions and show either additional output, or additional questions-->
                        <div class="col-xs-11 sectionText">
                            <p class="questionLabel centerText">{{sections.title}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav-footer></nav-footer>