<nav-header></nav-header>
<div>
    <p class="titleTop">{{referanceList.name}}</p>
    <p class="titleTop">{{outPut.title}}</p>
</div>
<div class="questionain">
    <div class="content">
        <div ng-repeat="items in outPut.items" class="sectionDiv">
            <div class="sectionDiv">
                <div class="questionLabel">
                    <div class="row resizeDiv">
                        <!--On click will hide questions and show either additional output, or additional questions-->
                        <div class="col-xs-9 sectionText">

                            <div ng-if="!items.sections">
                                <p class="questionText questionLabel question">{{items.title}}</p>
                                <p class="questionText questionLabel question">{{items.output}}</p>
                            </div>
                            <div ng-if="items.sections" ng-click="itemSelect(items.id)">
                                <p class="questionText questionLabel question">{{items.title}} </p>
                                <p class="questionText questionLabel question">{{items.output}}</p>

                            </div>
                        </div>
                        <div ng-if="items.sections" class="col-xs-1 sectionText">
                            <p class="questionText questionLabel question"><span class="glyphicon glyphicon-arrow-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav-footer></nav-footer>