<div class="row topDiv list-group" ng-controller="CodeController">
	<div class="row">
		<div ng-init="init()" class="col-lg-6 col-lg-offset-3">
			<div class="content">
				<div class="form-group">
					<label for="userCode">Please enter security Code: &nbsp;</label>
					<input type="number" class="form-control" ng-model="userCode" ng-change="userCode"/><br/>
					<div class="btn-toolbar questionText">
						<button type="button" class="btn" ng-click="checkCode()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>